<div *ngIf="comments.length>0 else noposts">

    <h2>  All Comments</h2>
    <span class="badge bg-warning">{{comments.length}}</span>
    
    
    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">Post ID</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Body</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let com of comments">
                    <td scope="row">{{com.postId}}</td>
                    <td scope="row">{{com.id}}</td>
                    <td scope="row">{{com.name}}</td>
                    <td scope="row">{{com.email}}</td>
                    <td scope="row">{{com.body}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    </div>
    <ng-template #noposts>
        <div class="alert alert-danger text-center">{{message }}</div>
    </ng-template>
    